api.stumblefeed.me {
    reverse_proxy localhost:8001

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        -Server
    }

    log {
        output file /var/log/caddy/stumblefeed-access.log
        format json
    }
}
